
@model Product
@{
    ViewData["Title"] = "Create";
}


<div class="container">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Default form</h4>
                    <p class="card-description">
                        Create Category Form
                    </p>
                    <div>
                        <label>Choose a category:</label>
                        @Html.DropDownListFor(c => c.CategoryId, (List<SelectListItem>)ViewBag.Category, new { @class = "form-control" })
                    </div>
                    <form class="forms-sample" method="Post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label asp-for="ProductPhoto"></label>
                            <input asp-for="ProductPhoto" class="form-control" accept="image/*" placeholder="Name">
                            <span asp-validation-for="ProductPhoto" style="color:red;"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control" placeholder="Name">
                            <span asp-validation-for="Name" style="color:red;"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price"></label>
                            <input asp-for="Price" class="form-control"/>
                            <span asp-validation-for="Price" style="color:red;"></span>
                        </div>
                        <div>



                            

                        </div>


                        <button class="btn btn-light">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <partial name="_Validation">

}

