
@model Product
@{
    ViewData["Title"] = "Update";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="~/img/@Model.ImageUrl" alt="Alternate Text" />
        </div>
        <div class="col-6">
            <a asp-controller="Product" asp-action="Index" class="btn btn-warning">Go Back</a>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Default form</h4>
                        <p class="card-description">
                            Update Image
                        </p>
                        <form class="forms-sample" method="Post" enctype="multipart/form-data">
                            <div>
                                <label>Choose a category:</label>
                                @Html.DropDownListFor(c => c.CategoryId, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label asp-for="ProductPhoto"></label>
                                <input asp-for="ProductPhoto" accept="image/*" class="form-control" />
                                <span asp-validation-for="ProductPhoto" style="color:red;"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" style="color:red;"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price"></label>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" style="color:red;"></span>
                            </div>


                            <button class="btn btn-light">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_Validation">
}


