@model Bio


<header>
    <ul id="search-list">
        <li>
            <input type="search" id="site-search" name="q"
                   aria-label="Search through site content">
            <button>Search</button>
        </li>


    </ul>

    <nav>
        <!-- <div class="responsivNavbar-Icon"></div> -->
        <!-- <i class="fas fa-bars"></i> -->
        <div class="menu__bar">
            <div class="headTitle">
                <a asp-controller="home" asp-action="index"><img style="width: 238px;height: 30px;" src="~/img/@Model.LogoUrl" alt=""></a>
            </div>

            <div class="navlink">
                <ul>
                    <li>
                        <span class="span1">HOME</span>

                        <div class="dropdown__menu">
                            <ul>
                                <li><a href="#">Main Home</a></li>
                                <li><a href="#">Grid Home</a></li>
                                <li><a href="#">Flower Shop</a></li>
                                <li><a href="#">Metro Showcase</a></li>
                                <li><a href="#">Carousel Showcase</a></li>
                                <li><a href="#">Landing</a></li>
                            </ul>
                        </div>

                    </li>
                    <li>
                        <a href="">PAGES</a>

                        <div class="dropdown__menu">
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">FAQ Page</a></li>
                                <li><a href="#">Contact Us</a></li>

                            </ul>
                        </div>

                    </li>
                    <li>
                        <a href="">SHOP</a>
                        <div class="dropdown__menu1">
                            <div class="flexforUl">
                                <ul class="ulS1">
                                    <li><div class="Shop-Title"><span>Product Types</span></div></li>
                                    <li><a asp-controller="product" href="/product/Index">Standard Product</a></li>
                                    <li><a href="#">Grouped Product</a></li>
                                    <li><a href="#">Variable Product</a></li>
                                    <li><a href="#">Virtual Product</a></li>
                                    <li><a href="#">External Product</a></li>
                                    <li><a href="#">Downloadable Product</a></li>
                                    <li><a href="#">On Sale Product</a></li>
                                    <li><a href="#">Out Of Stock Product</a></li>
                                    <li><a href="#">New Product</a></li>
                                </ul>

                                <ul class="ulS2">
                                    <li><div class="Shop-Title"><span>Shop Pages</span></div></li>
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Cart</a></li>
                                    <li><a href="#">Checkout</a></li>
                                    <li><a href="#">Orders</a></li>
                                    <li><a href="#">Downloads</a></li>
                                </ul>
                                <ul class="ulS3">
                                    <li><div class="Shop-Title"><span>Shop Types</span></div></li>
                                    <li><a href="#">Product List</a></li>
                                    <li><a href="#">Without Sidebar</a></li>
                                    <li><a href="#">With Category Filter</a></li>
                                    <li><a href="#">With Ordering Filter</a></li>
                                    <li><a href="#">Shop Carousel</a></li>
                                    <li><a href="#">Product Categories</a></li>
                                    <li><a href="#">Single Category</a></li>
                                </ul>

                                <ul class="ulS4">
                                    <li><div class="Shop-Title"><span>Shop Layout</span></div></li>
                                    <li><a href="#">Two Columns Grid</a></li>
                                    <li><a href="#">Three Columns Grid</a></li>
                                    <li><a href="#">Four Columns Grid</a></li>
                                    <li><a href="#">Four Columns Wide</a></li>
                                    <li><a href="#">Five Columns Wide</a></li>
                                    <li><a href="#">Six Columns Wide</a></li>
                                </ul>
                            </div>





                        </div>
                    </li>
                    <li>
                        <a href="">PORTFOLIO</a>
                        <div class="dropdown__menu">
                            <ul>
                                <li><a href="#">Standard</a></li>
                                <li><a href="#">Gallery</a></li>
                                <li><a href="#">Masonry</a></li>
                                <li>
                                    <a href="#">Portfolio Layouts</a>
                                </li>
                                <i class="fas fasP fa-chevron-right"></i>

                                <li>
                                    <a href="#">Portfolio Single</a><i class="fas fasDMPS fa-chevron-right"></i>

                                    <div class="sub__menu">
                                        <ul>
                                            <li><a href="#">Small Images</a></li>
                                            <li><a href="#">Small Slider</a></li>
                                            <li><a href="#">Big Images</a></li>
                                            <li><a href="#">Big Slider</a></li>
                                            <li><a href="#">Gallery</a></li>
                                        </ul>
                                    </div>


                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="">BLOG</a>
                        <div class="dropdown__menu">
                            <ul>
                                <li><a href="#">Masonry</a></li>
                                <li><a href="#">Standard</a></li>
                                <li>
                                    <a href="#">Post Types</a>  <i class="fas fasB fa-chevron-right"></i>

                                    <div class="sub__menu">
                                        <ul>
                                            <li><a href="#">Standard</a></li>
                                            <li><a href="#">Gallery</a></li>
                                            <li><a href="#">Link</a></li>
                                            <li><a href="#">Quote</a></li>
                                            <li><a href="#">Audio</a></li>
                                            <li><a href="#">Video</a></li>
                                        </ul>
                                    </div>

                                </li>

                            </ul>
                        </div>
                    </li>
                    <li>

                        <a href="">ELEMENTS</a>
                        <div class="dropdown__menu">
                            <ul>
                                <li style="padding-bottom: 14px;">
                                    <a href="#">Classic</a><i class="fas fasE fa-chevron-right"></i>

                                    <div class="sub__menu">
                                        <ul>
                                            <li><a href="#">Accordions</a></li>
                                            <li><a href="#">Tabs</a></li>
                                            <li><a href="#">Buttons</a></li>
                                            <li><a href="#">Video Button</a></li>
                                            <li><a href="#">Contact Form</a></li>
                                        </ul>
                                    </div>
                                </li>


                                <li style="padding-bottom: 13px;">
                                    <a href="#">Infographic</a><i class="fas fasE fa-chevron-right"></i>

                                    <div class="sub__menu">
                                        <ul>
                                            <li><a href="#">Blog List</a></li>
                                            <li><a href="#">Counters</a></li>
                                            <li><a href="#">Countdown</a></li>
                                            <li><a href="#">Google Maps</a></li>
                                            <li><a href="#">Progress Bar</a></li>
                                            <li><a href="#">Pie Charts</a></li>
                                        </ul>
                                    </div>


                                </li>
                                <li style="padding-bottom: 13px;">
                                    <a href="#">Interactive</a><i class="fas fasE fa-chevron-right"></i>

                                    <div class="sub__menu">
                                        <ul>
                                            <li><a href="#">Image Gallery</a></li>
                                            <li><a href="#">Testimonials</a></li>
                                            <li><a href="#">Team</a></li>
                                            <li><a href="#">Banner</a></li>
                                            <li><a href="#">Shop List</a></li>
                                            <li><a href="#">Portfolio List</a></li>
                                        </ul>
                                    </div>

                                </li>

                                <li style="padding-bottom: 13px;">
                                    <a href="#">Typography</a><i class="fas fasE fa-chevron-right"></i>

                                    <div class="sub__menu">
                                        <ul>
                                            <li><a href="#">Headings</a></li>
                                            <li><a href="#">Columns</a></li>
                                            <li><a href="#">Section Title</a></li>
                                            <li><a href="#">Blockquote</a></li>
                                            <li><a href="#">Dropcaps</a></li>
                                            <li><a href="#">Highlights</a></li>
                                            <li><a href="#">Separators</a></li>
                                            <li><a href="#">Custom Font</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="servicies">
                <div class="searchButton">
                    <i class="fas fa-search"></i>
                </div>

                <div class="shoppingBag">
                    <a asp-controller="BasketController" asp-action="ShowBasket"><i class="fas fa-shopping-bag"</i></a>
                    <sup>
                        @ViewBag.ProductCount
                    </sup>
                </div>

                <div class="cardSide">
                    <span>CART ($0)</span>
                </div>

            </div>
        </div>

    </nav>
</header>