*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header/Navbar Side Start*/

/* Navbar Side */
.navlink{
    margin-top: 13px;
    
}
nav{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;
    margin-bottom: 40px;

}

.menu__bar{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 5%;
}

.menu__bar ul{
    list-style: none;
    display: flex;
    padding-left: 20px;

}
.menu__bar ul li{
    padding: 10px 20px;
    position: relative;
}
.menu__bar ul li a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}
.menu__bar ul li .span1{
    color: black;
    text-decoration: none;
    font-size: 13px;
    border-bottom: 1px solid black;
    margin-top: -3px;        
   
}



.menu__bar ul li:hover .dropdown__menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    transition: 0.7s;
    animation: fade-in-move-down 0.8s;
}
.menu__bar ul li:hover .dropdown__menu1{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    transition: 0.7s;
    animation: fade-in-move-down 0.8s;
}
/* Navbar Side End */

/* Navbar Dropdown Side */
.dropdown__menu{
    display: none;
}
.dropdown__menu ul{
    display: block;
    margin-right: 70px;
    margin-left: -10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    transition: ease-out 0.3s;     /***/
    
}
.dropdown__menu ul li{
    width: 150px;
    padding: 7px;
    background-color: white;
    
}
.dropdown__menu1{
    display: none;
}
.dropdown__menu1 .flexforUl .ulS1{
    display: block;
    margin-right: 70px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column; 
}
.dropdown__menu1 .flexforUl .ulS2{
    display: block;
    margin-right: 70px;
    margin-left: 100px;
    margin-top: -13px;
    padding-top: -100px;
    display: flex;
    flex-direction: column;
}
.dropdown__menu1 .flexforUl .ulS3{
    display: block;
    margin-right: 70px;
    margin-left: 100px;
    margin-top: 4px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column; 
}
.dropdown__menu1 .flexforUl .ulS4{
    display: block;
    margin-right: 70px;
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column; 
}
.dropdown__menu1 .flexforUl ul li{
    width: 580px;
    margin-left: -500px;
    padding: 7px;
 
}

.dropdown__menu ul li:hover .sub__menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    transition: 0.3s;
    animation: fade-in-move-down 0.8s;

}

/* Navbar Dropdown Side End*/

/* Navbar Sub Menu Side Start */
.sub__menu{
    display: none;
    margin-left: -30px;
}
.sub__menu ul{
    display: block;
    margin-right: 70px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    
}
.sub__menu ul li{
    margin-left: 150px;
    width: 160px;
    padding: 7px;
    padding-left: 15px;
    padding-bottom:13px;
    margin-bottom: 30px;
    margin-top: -39px;
}




/* Navbar Sub Menu Side End */

/* Icon Side Navbar */

.fasDMPS{
    margin-top: 10px;
    color: #777;
    font-size: 10px;
    margin-left: 7px;
}
.fasE{
    /* float: right; */
    color: #777;
    font-size: 10px;
    margin-left: 10px; 
    /* margin-top: -21.3px; */
}
.fasB{
    
    color: #777;
    font-size: 10px;
    margin-left: 7px;
}
.fasP{
    float: right;
    color: #777;
    font-size: 10px;
    margin-left: 130px;
    margin-top: -20px;
}
/* Icon Side Navbar End */

/* Underline Side */
.dropdown__menu ul li a{
    position: relative;
    text-decoration: none;
    color: black;
    letter-spacing: 0.5px;
}
.menu__bar ul li a{
    position: relative;
    text-decoration: none;
    color: black;
    letter-spacing: 0.5px;
} 
.dropdown__menu ul li a:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;

}
.menu__bar ul li a:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;

}
.menu__bar ul li a:hover::after{
    width: 100%;
}
.dropdown__menu ul li a:hover::after{
    width: 100%;
} 


/* Underline Side End*/

/* servicies Side */
.servicies{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
}
.servicies .searchButton{
    margin-right: 20px;
} 

.servicies .searchButton:hover{
    color: red;
    transition: 0.7s;
}

.servicies .shoppingBag{

    margin-right: 20px;
}

/* servicies Side End*/

.Shop-Title{
    font-size: 22px;
    margin-top: 10px;
}
.dropdown__menu1 .flexforUl ul li a{
    font-size: 13px;
    color: #777;
}
.dropdown__menu1 .flexforUl ul li a, .dropdown__menu1 .flexforUl ul li .Shop-Title{
    margin-left: 20px;
    margin-right: 20px;
}
.dropdown__menu1 .flexforUl  ul{
 display: flex;
 justify-content: space-evenly;
}
.flexforUl{
    display: flex;
    justify-content: space-evenly;
    margin-right: -50px;
}

/* Responsive Navbar Start */

/* https://www.youtube.com/watch?v=_IHxhJlIPZA */

/* @media screen and (max-with:1250px){
     
    nav{
        max-width: 100%;
        padding: 0 20px;
    }
 } */

/* Responsive Navbar End */

@keyframes fade-in-move-down{
    0%{
        opacity: 0;
        transform: translateY(0rem)
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/* Header/Navbar Side End */

/* <!-- Main Start --> */
/* Section 1 Start */

.section1{
    background-color: #f5f5f5;
    width: 100%;
    height: 230px;
}
.leftrightSize{
 margin-left: 9%;
 margin-right: 9%;
}
.titleMain h1{
    padding-top: 85px;
    font-size: 50px;
    line-height: 1.32em;
    font-family: playfair display,serif;
    font-weight: 400;
    margin-left: 37px;
    
}


/* Section 1 End */

/* Section 2 Start */
.section2{
    height: 500px;
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 80px;
}
.cardImage{
    position: relative;
}

.ImageSideS2{
    display: flex;
    justify-content: space-between;
}
.cardImage img{
    width: 245px;
    height: 316px;    
    z-index: 999;
    transition: opacity 0.4s ;
    position: relative;
}
.cardImage img:hover{
    opacity: 0.1;
}
.imageUnder{
    position: absolute;
    margin-bottom: 50px;
}
.cardImage .newForImg{
    position: absolute;
    top: 12px;
    left: 16px;
    width: auto;
    height: 30px;
    background: #f34f3f;
    color: #fff;
    font-family: playfair display,serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: center;
    box-sizing: border-box;
    padding: 5px 13px;
    z-index: 999;
}
.soldForImg{
    position: absolute;
    top: 12px;
    left: 16px;
    width: auto;
    height: 30px;
    background: #2b2b2b;
    color: #fff;
    font-family: playfair display,serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: center;
    box-sizing: border-box;
    padding: 5px 13px;
    z-index: 999;
}

.imageUnder-TextName{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;
    font-family: Montserrat,sans-serif;
    font-size: 15px;
    line-height: 14px;
}
::selection{
    background: #f34f3f;
   color: #fff;
 }
.cardImage .addToCard{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: #ff3d2a;
    font-family: Montserrat,sans-serif;
    border: none;
    padding: 12px 25px;
    transition: color .3s;
    line-height: 1.833em;
    letter-spacing: .1em;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 8px;
}
.selectOptions{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: #ff3d2a;
    font-family: Montserrat,sans-serif;
    border: none;
    padding: 12px 20px;
    transition: color .3s;
    line-height: 1.833em;
    letter-spacing: .1em;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 8px;
}
.readMore{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: #ff3d2a;
    font-family: Montserrat,sans-serif;
    border: none;
    padding: 12px 27px;
    transition: color .3s;
    line-height: 1.833em;
    letter-spacing: .1em;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 8px;
}
.imageUnder-Cost{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #6d6a6a;
}
/* Section 2 End */

/* Section 3 Start */

.section3{
 height: 650px;
 margin-top: 60px;
 margin-left: 9%;
 margin-right: 9%;
}
.owl-nav .owl-next i,
.owl-nav .owl-prev i{
 color:#b5b0b0;
}
.owl-nav .owl-next i:hover{
    color: black;
}
.owl-next:hover{
    background: none;
}
.owl-nav .owl-prev i:hover{
    color: black;
}
.home-slider-TextSold{
    top: 8px;
    left: 16px;
    position: absolute;
    color: #fff;
    z-index: 999;
    height: 30px;
    background-color: #2b2b2b;
    color: #fff;
    font-family: playfair display,serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: center;
    padding: 5px 13px;
}
.home-slider-TextNew{
  top: 8px;
  left: 16px;
  position: absolute;
  color: #fff;
  z-index: 999;
  height: 30px;
  background: #f34f3f;
  color: #fff;
  font-family: playfair display,serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  text-align: center;
  padding: 5px 13px;
}

.headTextS3 h6{
    color: #1b1b1b;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 2em;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
    display: inline-block;
}

.home-slider-item .item-zoom img{
    width: 252px;
    height: 325px;
}
.home-slider-item p{
    text-align: center;
    color: #1b1b1b;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 2em;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-top: 14px;
}
.item-zoom {
	position: relative;
	overflow: hidden;
	width: 252px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.item-zoom img {
	vertical-align: top;
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.item-zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* Section 3 End */

/* Section 4 Start */
.section4{
    height: 300px;
    margin-left: 9%;
    margin-right: 9%;
}
.smallImage img{
    width: 158.33px;
    height: 158.33px;
}
.smallImage{
    display: flex;
    justify-content: space-between;
}
.smallImage-Card1 {
    text-align: center;
    
}
.smallImage-Card1 h6{
    color: #1b1b1b;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 2em;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-top: 15px;
}
.smallImage-Card1 span{
    text-transform: lowercase;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #afafaf;
}
.item-zoom1 {
	position: relative;
	overflow: hidden;
	width: 158.33px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


.item-zoom1 img {
	vertical-align: top;
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.item-zoom1:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
/* Section 4 End */
/* Footer Start */
footer {
    background: #fefaf3;
    padding: 80px 0 30px 0;
    
  }
  
  .footer-text  h6 {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: #000;
    line-height: 2em;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  
  .footer-text ul {
    list-style-type: none;
  }
  
   .footer-text ul li a {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #8b8b8b;
  }
  
   .footer-text ul li a:hover {
    color: #f34f3f;
    transition: all 0.2s ease-out;
  }
  
   .footerunderText {
    font-family: "Montserrat", sans-serif;
    margin-top: -10px;
  }
  
   .footerunderTextT span {
    font-size: 12px;
    color: #AFAFAF;
  }
  
  .footerunderTextT span a {
    color: #6D6A6A;
  }
  
  .footerunderTextT span a:hover {
    color: #f34f3f;
    transition: all 0.2s ease-out;
  }
  
   .socialM a {
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #AFAFAF;
    font-size: 10px;
  }
  
  .socialM a:first-child {
    margin-right: 20px;
  }
  
  .socialM a:hover {
    color: #f34f3f;
    transition: all 0.2s ease-out;
  }
  footer a{
      text-decoration: none;
  }
/* Footer End */