@model IEnumerable<Product>


@foreach (var item in Model)
{


    <div data-id="@item.Category.Name.ToLower();">

        <div class="item-zoom2 soldForTab">
            <img src="~/../img/Img-forCardMain/@item.ImageUrl" alt="">
        </div>

        <span>
            @item.Name
        </span>

        <span>
            $@item.Price
        </span>

    </div>


}
